BR2_aarch64=y
BR2_DL_DIR="$(BASE_DIR)/dl"
BR2_TOOLCHAIN_BUILDROOT_VENDOR="tesla"
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_KERNEL_HEADERS_4_14=y
BR2_GCC_VERSION_5_X=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/tesla/initramfs_overlay"
BR2_INIT_NONE=y
BR2_ROOTFS_DEVICE_TABLE=""
BR2_ENABLE_LOCALE_WHITELIST="en_US"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/tesla/verity-initramfs-cleanup.sh"
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_TESLA_VERITY=y
BR2_PACKAGE_TESLA_VERITY_AP_HW3=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
