BR2_aarch64=y
BR2_DL_DIR="$(BASE_DIR)/dl"
BR2_ENABLE_DEBUG=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="tesla"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_4_14=y
BR2_TARGET_OPTIMIZATION="-g2"
BR2_TARGET_GENERIC_HOSTNAME="ap3r"
BR2_TARGET_GENERIC_ISSUE="Autopilot ///"
BR2_INIT_NONE=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/teslamotors/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="31b65cbdceebb35e38a3b25743c25548d594191e"
BR2_LINUX_KERNEL_SHOW_EXTRA_KERNEL_VERSION=y
BR2_LINUX_KERNEL_DEFCONFIG="board-rev0"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="turbo/turbo-trav-board-hw31 turbo/turbo-trav-board-rev-b0"
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_LIBGPIOD_TOOLS=y
BR2_PACKAGE_IPUTILS=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
