BR2_x86_64=y
BR2_x86_corei7=y
BR2_WGET="wget --passive-ftp -nd -t 3 -4"
BR2_DL_DIR="$(BASE_DIR)/dl"
BR2_TOOLCHAIN_BUILDROOT_VENDOR="tesla"
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_KERNEL_HEADERS_CUSTOM_GIT=y
BR2_KERNEL_HEADERS_CUSTOM_REPO_URL="https://github.com/teslamotors/linux.git"
BR2_KERNEL_HEADERS_CUSTOM_REPO_VERSION="0c9640bba6a841f524f5947d0741386792674577"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_1=y
BR2_BINUTILS_VERSION_2_28_X=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/tesla/initramfs_overlay"
BR2_INIT_NONE=y
BR2_ROOTFS_DEVICE_TABLE=""
BR2_ENABLE_LOCALE_WHITELIST="en_US"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/tesla/verity-initramfs-cleanup.sh"
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_TESLA_VERITY=y
BR2_PACKAGE_TESLA_VERITY_ICE_MRB=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
